@import 'styles/variables';

.icon {
    display: inline;
    position: relative;
    top:4px;

}
.expander {
    background-color: $gray;
    margin:$gap 0;
    padding:$gap;
    border-radius: $rad;
}



.container {
    transition: max-Height .15s ease-in-out;
    overflow:hidden;
}
.content {
    padding: $gap;
    color:$white;
}