@import "styles/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $black;
  color: $white;
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  h1,
  h2,
  h3 {
    color: $lightblue;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.blue {
  color:$lightblue;
}
.yellowBG {
  background-color: $yellow;
  color:$black;
}
.redBG {
    background-color: #ff5c5c;
  color:$white;
}
.blackBG {
  background-color: $black;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin blockCenter($margin) {
  display: block;
  margin: $margin auto;
}

.wrapper {
  max-width: calc(100% - 2rem);
  @include blockCenter(0);
  @media (min-width: $large) {
    max-width: 900px;
  }
}
.topMargin {
  margin-top: $gap !important;
}
.topMargin4 {
  margin-top: $gap * 4 !important;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -1rem 0 0 -1rem;
  width: calc(100% + 1rem);
  > div {
    flex-grow: 1;
    flex-shrink: 1;
    align-content: center;
    margin: 1rem 0 0 1rem;
  }
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //margin:-$gap 0 0 -$gap;
  //width: calc(100% - 1rem);
  > div {
    flex: 1 1 auto;
    align-self: center;
    //margin:$gap 0 0 $gap;
  }
}
// .map {
//   max-height: 500px;
// }
.modalPreview {
  &:hover {
    cursor: pointer;
  }
}

.pageTitle {
  font-size: 2rem;
  font-weight: 600;
  color: $yellow;
  text-align: center;
  margin: $gap * 2 auto $gap * 2 auto;
}

#fullModal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: $gap;
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
.grid2lock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: $gap;
}
.grid4lock2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: $gap;
  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }
}

ul,
ol {
  margin-left: $gap;
  li {
    list-style-position: outside;
    & + li {
      margin-top:$gap;
    }
  }
  li.noMargin {
    margin:0 !important;
  }
}

.active {
  background-color: $blue !important;
}
.activeLight {
  background-color: $lightblue !important;
}

.card {
  background-color: $gray;
  padding:$gap;
  border-radius: $rad;
}

.Sticky-React-Table-inner {
  background-color: $black;
}
table {
  border:none;
  width: 100%;
  th {
    font-weight: inherit;
    padding:$gap/2 $gap;
  }
  th, tr, td {
    border: none;
  }
  td {
    padding:$gap/2 $gap;
    text-align: center;
  }
}

.tableHead {
  background-color: $blue;
  padding:$gap/2 $gap;
  border-bottom:1px solid $gray;
  z-index: 2;
  font-weight: 700;
}
.tableCell {
  padding:$gap/2 $gap;
  background-color: $black;
  border-left:1px solid $gray;
  border-bottom:1px solid $gray;
}

.listSeparator {
  margin:1rem 0;
  font-weight:700;
  color:$yellow;
}
input[type="text"] {
  padding:$gap/2 $gap;
  text-align: center;
    border: none;
  border-radius: $rad;
}

.fullPageBG {
  background-color: #121212e7;
  backdrop-filter: blur(5px);
  position:fixed !important;
  height: 100vh;
  padding:2rem;
  width: 100%;

  .modalContent {
    width: 100%;
    max-width: 700px;
    max-height: 80vh;
    overflow-y: scroll;
    display: block;
    margin:0 auto;
    @media (max-width: 768px) {
      max-width: calc(100% - 2rem);
    }
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
}

button, .typeButton {
  //background-color: #ff5c5c;
  padding:$gap/2 $gap;
  border: none;
  border-radius: $rad;
  margin-bottom: $gap;
  &:hover {
    cursor: pointer;
  }
}
.typeButton {
  width: 6rem;
  margin: 0 !important;
}

.rightAlign {
  float: right;
}